@{
    ViewBag.Title = "Omega Speedmaster Professional Moonwatch";
}
<div class="container py-5">
    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/speedmaster.jpg" class="img-fluid" alt="Omega Speedmaster Professional Moonwatch">
        </div>
        <div class="col-md-6">
            <h2>Omega Speedmaster Professional Moonwatch</h2>
            <ul class="list-unstyled mb-3">
                <li><strong>Brand:</strong> Omega</li>
                <li><strong>Model:</strong> Speedmaster Professional Moonwatch</li>
                <li><strong>Price:</strong> $6,400.00</li>
            </ul>
            <p>
                A historic chronograph famously worn during NASA's Apollo missions. Equipped with a manual-wind mechanical movement, hesalite crystal, and tachymeter bezel. A must-have for space enthusiasts and serious collectors.
            </p>
            <button class="btn btn-primary" data-action="add-to-cart">Add to Cart</button>
        </div>
    </div>
</div> 